
platforms/edt/1c_enterprise_development_tools_distr_1.16.0_363_windows_x86_64.zip
platforms/edt/1c_enterprise_development_tools_distr_1.16.0_363_linux_x86_64.tar.gz
docs/devop/~$-КлиентБанк.Стандарт обмена данными.docx
docs/devop/~$-шаблон.dotx
docs/devop/1С-КлиентБанк.Стандарт обмена данными.docx
docs/devop/~$П-3.0.3_Документация.docx
docs/devop/~$-Предприятие 8.Система стандартов и методик разработки конфигураций для платформы.docx
